body {
    background-color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color: orange;
    font-weight: bold;
}
h2 {
    color: #999999;
    margin-top: 0px;
}
.container {
    width: 1024px;
    margin: 0 auto 0 auto;
    padding: 5px;
}
header {
    border: dotted green 1px; 
}
#bevezeto {
    font-style: italic;
    padding-left: 50px;
    padding-right: 50px;
}
.oszlop {
    float: left;
    width: 300px;
    margin: 20px;
}

a:link, a:visited, a:active {
    color: orange;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: lighter;
}
img {
    width: 280px;
    margin-top: 0px;
    border: solid yellow 1pt;
}
